@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=EB+Garamond:ital,wght@0,500;1,400&display=swap');

a {
	text-decoration: none;
}
header {
	display: flex;
	align-items: center;
}

.logo {
	color: #901c1c;
}

body {
	font-family: 'DM Sans', sans-serif;
	position: relative;
	max-width: 1200px;
	margin: auto;
}

/*****PHOTOGRAPH HEADER DATA******/

.photograph__header {
	height: 20vh;
	background-color: rgb(248, 247, 247);

	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.photograph__contact__form {
	position: absolute;
	left: 50%;
	padding: 1.2rem;
	color: #fff;
	background-color: #901c1c;
	border-radius: 5px;
	cursor: pointer;
	transition: transform 330ms ease-in-out;
}

.photograph__contact__form:hover {
	transform: scale(1.05);
}

.header__img {
	width: 200px;
	height: 200px;
}

.header__img img {
	object-fit: cover;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	box-shadow: 0 5px 7px rgb(92, 90, 90);
}

.header__basic h1 {
	font-size: 3rem;
	font-weight: 200;
	color: #d3573c;
	margin: 0;
}

.header__location {
	font-size: 1.5rem;
	font-weight: 300;
	color: #901c1c;
}

.header__tagline {
	color: #525252;
	font-size: 0.8rem;
	font-weight: 200;
}

/*****PHOTOGRAPH MEDIA DATA******/

.photograph__media {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 3rem;
	margin-bottom: 10%;
}

/******Counter Total likes and Price per hour*****/

.counter__bg {
	position: fixed;
	height: 5vh;
	width: 20%;
	right: 15%;
	bottom: 0;
	border-radius: 10px 10px 0 0;
	background: #d3573c;
	color: black;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: space-evenly;
	font-size: 20px;
}

.likes__tag {
	display: flex;
	align-items: center;
}

.likes__tag p {
	margin-right: 0.5rem;
}

/*****Filter Form******/

.form__media {
	margin: 5rem 0;
	display: flex;
	align-items: center;
	position: relative;
}

/**Drop Down Menu**/



.select__wrapper{
	position: relative;
	user-select: none;
	margin-left: 2rem;
	width: 200px;
}

.select{
	position: relative;
	display: flex;
	flex-direction: column;
	border: none;

}

.select__trigger{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	font-size: 15px;
	font-weight: 300;
	color: #fff;
	height: 60px;
	line-height: 60px;
	background: #901c1c;
	cursor: pointer;
	outline: none;
	border: none;
}


.custom__options{
	position: absolute;
	display: block;
	top: 100%;
	left: 0;
	right: 0;
	border: none;
	border-top: 0;
	background: #901c1c;
	transition: all 0.5s;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	z-index: 2;
}	

.select.open .custom__options{
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}

.custom__option {
	position: relative;
	display: block;
	padding: 0 10px;
	font-size: 15px;
	font-weight: 300;
	color: #fff;
	line-height: 30px;
	cursor: pointer;
	transition: all 0.5s;
}

.custom__option:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.527);
	color: #fff;
}
.custom__option.selected {
	color: #ffffff;
	background-color: lighten(#901c1c, 10);
	
}

.arrow{
	position: relative;
	height: 15px;
	width: 15px;
}

.arrow::before, .arrow::after{
	content: "";
	position: absolute;
	bottom: 0px;
	width: 0.15rem;
	height: 100%;
	transition: all 0.5s;
}

.arrow::before{
	left: -5px;
	transform: rotate(45deg);
	background: white;
}

.arrow::after{
	left: 5px;
	transform: rotate(-45deg);
	background: white;
}

.open .arrow::before {
	left: -5px;
	transform: rotate(-45deg);
}
.open .arrow::after {
	left: 5px;
	transform: rotate(45deg);
}

/* .select {
	position: relative;
	margin-left: 2rem;
	font-family: 'DM Sans', sans-serif;
	grid-template-areas: "select";
	display: grid;
	align-items: center;
}

select {
	background: transparent;
	border: none;
	padding: 0 1em 0 0;
	margin: 0;
	width: 100%;
}

select {
	outline: none;
	background: #901c1c;
	color: #fff;
	padding: 0.5rem;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-ms-appearance: none;
}

.select::after {
	content: "";
	width: 0.8em;
	height: 0.5em;
	background-color: #fff;
	clip-path: polygon(100% 0, 0 0%, 50% 100%);
	justify-self: end;
	margin-right: 1rem;
}

select,
.select:after {
	grid-area: select;
} */

/***Media Container****/

.media__container {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 400px;
	width: 340px;
	margin: 1rem 0;
	cursor: pointer;
}

.media__pricing {
	bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	color: #901c1c;
	font-size: 15px;
	font-weight: 200;
}

.media__pricing i {
	margin-left: 0.5rem;
	font-size: 30px;
}

.likes__container {
	display: flex;
	align-items: center;
}

.likes__container button {
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	border: none;
	cursor: pointer;
	color: #901c1c;
}

.num__likes {
	display: flex;
	align-items: center;
}

.media__img {
	height: 70%;
	width: 100%;
}

.media__box {
	border-radius: 10px;
	width: 100%;
	height: 70%;
}

.media__box img {
	object-fit: cover;
	height: 100%;
	width: 100%;
	border-radius: 5px;
}

.media__box video {
	object-fit: cover;
	height: 100%;
	width: 100%;
	border-radius: 5px;
}

/*****Modal Sending Message Form*****/

.bground__modal {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1;
	top: 0;
	left: 0;
	background: rgba(27, 26, 26, 0.7);
}
.content__modal {
	display: flex;
	flex-direction: column;
}

.content__modal[open-modal] {
	display: flex;
	margin: 5% auto;
	align-items: center;
	height: 80vh;
	width: 100%;
	max-height: 100vh;
	max-width: 600px;
	background: #d3573c;
	color: black;
	box-shadow: 0 3px 6px rgb(87, 85, 85);
	border-radius: 10px;
	position: relative;
	animation: openmodal 500ms 0ms both;
	transition: transform 330ms ease-in-out;
}

@keyframes openmodal {
	from {
		transform: translateY(-999px);
	}

	to {
		transform: translateY(0px);
	}
}

.content__modal[closed-modal] {
	display: flex;
	margin: 5% auto;
	align-items: center;
	height: 80vh;
	max-height: 100vh;
	max-width: 500px;
	background: #d3573c;
	color: black;
	box-shadow: 0 3px 6px rgb(87, 85, 85);
	border-radius: 10px;
	animation: closemodal 500ms 0ms both;
	transition: transform 330ms ease-in-out;
}

@keyframes closemodal {
	from {
		transform: translateY(0px);
	}

	to {
		transform: translateY(999px);
	}
}

.close__modal {
	color: #fff;
	font-size: 30px;
}

.modal_body {
	margin: 15px auto;
	padding: 15px 8%;
	font-family: 'DM Sans', sans-serif;
}

form {
	display: block;
}

form label {
	display: inline-block;
	margin-bottom: 10px;
	font-size: 20px;
}

.formData {
	display: inline;
}

.text__control {
	padding: 8px;
	width: 100%;
	height: 40px;
	outline: none;
	border: none;
	border-radius: 8px;
	margin-bottom: 10px;
	font-size: 20px;
}

#message {
	line-height: 15px;
	padding-bottom: 80px;
	max-width: 100%;
}

.modal__header {
	width: 85%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 8%;
	padding-top: 2rem;
}

.modal__header h2 {
	font-size: 30px;
	width: 220px;
}

.contact__ph {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.contact__ph h2 {
	margin: 0;
}

.submit__btn {
	margin-top: 2rem;
	padding: 20px;
	background: #901c1c;
	color: #fff;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}

.formData[data-error-visible="true"].text__control {
	border: 2px solid red;
}

/***Lighbox***/

.lightbox {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .9);
	z-index: 10;
}

.lightbox__closed {
	font-size: 2em;
	color: #fff;
	cursor: pointer;
	position: absolute;
	right: 2%;
	top: 0%;
}

.lightbox__prev{
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
	transition: all 200ms ease-in-out;
	position: absolute;
	left: 0;
	background: black;
	padding: 15px;
	border: none;
	z-index: 99;
}
.lightbox__next {
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
	transition:all 200ms ease-in-out;
	position: absolute;
	right: 0;
	background: black;
	padding: 15px;
	border: none;
	z-index: 99;
}

.lightbox__next:hover,
.lightbox__prev:hover{
	opacity: 0.7;
	
	
}

.lightbox__container {
	height: 80%;
	width: 80%;
	display: flex;
	margin: 5% auto;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: -99;
}

.lightbox__media {
	height: 100%;
	width: 100%;
	z-index: -2;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.lightbox__media img {
	object-fit: scale-down;
	height: 100%;
	width: 100%;

}

.lightbox__video{
	object-fit: cover;
	height: 100%;
	width: 100%;
}
