* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

header {
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;  
 
}

header a {
  text-decoration: none;
  color: #901c1c;
}

header h2{
  color: #901c1c;
  padding-right: 2rem;
  font-size: 2rem;
}

body {
  font-family: "DM Sans", sans-serif;
  max-width: 1200px;
  margin: auto;
}

.photograph__list__section {
display: flex;
flex-wrap: wrap;  
justify-content: space-evenly;
align-items: center;
margin-top: 1rem;
width: 100%;
}


.tags__section{
  display: flex;
  flex-wrap: wrap;
}

.tags__section option{
  margin: 0.5rem 0.5rem;
  border: 1px solid rgb(238, 230, 230);
  padding: 8px;
  font-size: 12px;
  border-radius: 25px;
  color: #901c1c;
  cursor: pointer;
  transform: scale(1);
  transition: transform 220ms ease-in-out;
}

.tags__section option:hover {
  transform: scale(1.20);
}


.ph__card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 1rem;
  padding: 1rem;

}

.ph__container__img{
  width: 250px;
  height: 250px;
border: none;
  margin-bottom: 1rem;
  border-radius: 50%;
}

.ph__container__img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 10px 5px rgb(173, 168, 168);
  cursor: pointer;
  transition: all 220ms;
}

.ph__container__img img:hover{
  opacity: 0.6;
}


.ph__name{
  color: #d3573c;
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}
.ph__location{
  font-size: 15px;
  color: #901c1c;
  font-weight: normal;
  margin-bottom: 0.25rem;
}

.ph__tags {
  display: flex;
  flex-wrap: wrap;
}
.ph__tags div{
  margin:  0 0.25rem;
  font-size: 12px;
  border: 0.5px solid rgb(206, 205, 205);
  padding: 5px;
  border-radius: 20px;
  color: #901c1c;
}

.ph__tagline{
  text-align: center;
  font-size: 12px;
  margin-bottom: 0.2rem;
}

.ph__price{
  font-size: 12px;
  margin-bottom: 0.3rem;
}